.coreteam_banner {
  height: 4.66rem;
  background: url('../img/coreteam_banner.png');
  background-size: 100% 100%;
}
.coreteam_banner .banner_contain {
  padding: 1rem 0 0 1rem;
}
.coreteam_banner .banner_contain h3 {
  font-size: 0.5rem;
  color: #fff;
}
.coreteam_banner .banner_contain .hengxian {
  width: 0.5rem;
  height: 0.04rem;
  background: #fff;
  margin: 0.3rem 0;
}
.coreteam_banner .banner_contain p {
  font-size: 0.36rem;
  color: #fff;
  margin-bottom: 0.1rem;
}
.member {
  color: #fff;
  font-size: 0.28rem;
  overflow: hidden;
  background: #333;
  margin-top: 0.1rem;
  padding: 0.5rem 0.2rem;
  box-sizing: border-box;
  height: 8.8rem;
}
.member .base .img {
  width: 3rem;
  height: 3rem;
  background-size: cover !important;
  display: inline-block;
  vertical-align: middle;
}
.member .base .post {
  display: inline-block;
  vertical-align: middle;
  width: 3.8rem;
  padding-left: 0.3rem;
}
.member .base .post li:first-child {
  font-size: 0.4rem;
  margin-bottom: 0.1rem ;
}
.member .base .post li {
  line-height: 0.45rem;
}
.member .more {
  margin-top: 0.35rem;
}
.member .more p {
  line-height: 0.5rem;
  padding: 0 0.2rem;
}
.ourteam {
  background: #333;
  color: #fff;
  font-size: 0.28rem;
  margin-bottom: 0.5rem;
}
.ourteam .swiper-container .swiper-wrapper .swiper-slide {
  height: 4.14rem;
  background: url('../img/team.png');
  background-size: cover;
}
.ourteam .swiper-container .swiper-button-next,
.ourteam .swiper-container .swiper-button-prev {
  width: 0.5rem;
  background-size: contain;
}
.ourteam .swiper-container .swiper-button-next {
  right: 0;
  background-image: url(../img/next.png);
}
.ourteam .swiper-container .swiper-button-prev {
  left: 0;
  background-image: url(../img/prev.png);
}
.ourteam .swiper-container .left,
.ourteam .swiper-container .right {
  height: 4.14rem;
  width: 0.5rem;
  background: #333;
  opacity: 0.4;
  position: absolute;
  z-index: 1;
  top: 0;
}
.ourteam .swiper-container .left {
  left: 0;
}
.ourteam .swiper-container .right {
  right: 0;
}
.ourteam .slogan {
  height: 2.74rem;
  padding-left: 0.78rem;
  padding-top: 0.48rem;
  box-sizing: border-box;
}
.ourteam .slogan .title {
  font-size: 0.36rem;
}
.ourteam .slogan .hengxian {
  width: 0.5rem;
  height: 0.02rem;
  background: #fff;
  margin: 0.2rem 0;
}
.ourteam .slogan .item {
  font-size: 0.28rem;
  width: 6rem;
  line-height: 0.5rem;
  height: 0.5rem;
}
.teammember .swiper-container {
  padding-bottom: 0.86rem;
}
.teammember .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0.1rem;
}
