body {
  font-size: 0.26rem;
}
.history_banner {
  height: 4.66rem;
  background: url('../img/develop_1.png');
  background-size: 100% 100%;
}
.history_banner .banner_contain {
  padding: 1rem;
}
.history_banner .banner_contain h3 {
  font-size: 0.5rem;
  color: #fff;
}
.history_banner .banner_contain .hengxian {
  width: 0.5rem;
  height: 0.04rem;
  background: #fff;
  margin: 0.3rem 0;
}
.history_banner .banner_contain p {
  font-size: 0.36rem;
  color: #fff;
  margin-bottom: 0.1rem;
}
.history > div {
  text-align: center;
}
.history .title_e {
  margin-top: 0.3rem;
  font-size: 0.36rem;
  color: #333;
  font-weight: 600;
}
.history .title {
  margin-top: 0.2rem;
  font-size: 0.3rem;
  color: #333;
  font-weight: 600;
}
.history ul .item {
  margin-top: 1rem;
}
.history ul .item img,
.history ul .item .list {
  display: inline-block;
}
.history ul .item img {
  margin-left: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
}
.history ul .item .list {
  padding-left: 0.4rem;
  vertical-align: middle;
}
.history ul .item .list .list_title {
  font-size: 0.36rem;
  color: #002f87;
  font-weight: 600;
  margin-top: -0.1rem;
}
.history ul .item .list ul {
  margin-top: 0.1rem;
}
.history ul .item .list ul li {
  width: 4.8rem;
  white-space: normal;
}
.history ul .item .list ul li:first-child {
  font-weight: bold;
}
.history ul .item:last-child {
  margin-bottom: 1rem;
}
